<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link rel="stylesheet" href="../assets/reset.css" />
    <link rel="stylesheet" href="../assets/gallery.css" />
  </head>
  <body>
    <div class="hd">
      <div class="top">
        <a href="main.html">
          <img
            src="https://image.flaticon.com/icons/png/512/2829/2829751.png"
            width="95px"
          />
        </a>
      </div>
      <hr color="white" />
      <header class="header">
        <a href="service.html">SERVICE</a>
        <a href="style.html">STYLE</a>
        <a href="gallery.html">GALLERY</a>
      </header>
    </div>
    <div class="just"></div>
    <div class="gallery"></div>
    <div class="gallery2"></div>
    <div class="js4"></div>
  </body>
</html>
