<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link rel="stylesheet" href="../assets/reset.css" />
    <link rel="stylesheet" href="../assets/service.css" />
  </head>
  <body>
    <div class="hd">
      <div class="top">
        <a href="main.html">
          <img
            src="https://image.flaticon.com/icons/png/512/2829/2829751.png"
            width="95px"
          />
        </a>
      </div>
      <hr color="white" />
      <header class="header">
        <a href="service.html">SERVICE</a>
        <a href="style.html">STYLE</a>
        <a href="gallery.html">GALLERY</a>
      </header>
    </div>
    <div class="just"></div>
    <div class="title">service</div>
    <div class="uuu">
      <div class="serviceImage"></div>
      <div class="explanation">
        <div class="spa">강아지 스파</div>
        <div class="spa2">피부병,각질 제거에 좋습니다!</div>
      </div>
    </div>
    <div class="just3">오시는 길!</div>
    <div class="lt"></div>
    <div class="js4"></div>
  </body>
</html>
