<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/styles.css" />
    <link rel="stylesheet" href="../assets/reset.css" />
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>
    <div class="hd">
      <div class="top">
        <a href="main.html">
          <img
            src="https://image.flaticon.com/icons/png/512/2829/2829751.png"
            width="95px"
          />
        </a>
      </div>
      <hr color="white" />
      <header class="header">
        <a href="service.html">SERVICE</a>
        <a href="style.html">STYLE</a>
        <a href="gallery.html">GALLERY</a>
      </header>
    </div>

    <div class="main">

      <div class="box1"></div>  
      <div class="js1">
        <div class="box2">Helmet Style</div>  
        <div class="tx_1">price : 20, 000</div>
        <div class="tx"> poodle & bichon only</div>
      </div>    
      
      <div class="box3"></div>
      
    </div>
    <div class="main2">
      <div class="js2">
        <div class="box4">Egg hair Style</div>
        <div class="tx_2">price : 10, 000</div>
        <img src="https://cdn.crowdpic.net/list-thumb/thumb_l_BE926495E9ADFEB81371FD7646AC5074.png" width="250px">
      </div>
      <div class="box5"></div>
      <div class="js3">
        <div class="box6">Teddy bair Style</div>
        <div class="tx_3">price : 20, 000</div>

      </div>
    
    </div>
    <div class="bag">
      <div class="js4"></div>
    </div>
    <div class="footer"></div>
  </body>
</html>
